@import url('https://fonts.googleapis.com/css2?family=Lato&family=ZCOOL+XiaoWei&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-family: 'ZCOOL XiaoWei', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(138, 168, 255);
    background: linear-gradient(90deg, rgba(138, 168, 255, 1) 0%, rgba(217, 217, 217, 1) 100%);
}

.container {
    text-align: center;
}